body {
  font-family: "NanumSquare";
  overflow: hidden;
  background: rgba(9, 27, 54, 0.712);
  margin: 0 10%;
}
.pf {
  padding-bottom: 56.25%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100%;
  background: black;
  color: white;
  font-size: 50px;
}
.pf video {
  flex: 3;
  z-index: -1;
}
.pf.open {
  animation: fadeIn2 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes fadeIn2 {
  0% {
    transform: translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px) translateY(20%) scale(2);
    opacity: 0;
    z-index: -2;
  }
}
button {
  cursor: pointer;
}
@media (max-width: 968px) {
  body {
    overflow: auto;
  }
  .card-container {
    flex-direction: column;
    justify-content: center;

    z-index: 4;
  }
  .card {
    width: 100%;
  }
}
.card-container {
  margin: 5vh 0;
  padding: 20vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 4;
}
.modal,
.modal2,
.modal3 {
  display: none;
  position: absolute;
  z-index: 1100;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modal.open {
  display: block;

  animation: anim 1s ease-in-out forwards;
}
.modal.out {
  animation: animClose 0.5s ease-out forwards;
}
.modal2.open {
  animation: unfoldIn 0.5s ease-in-out forwards;
}
.modal.open,
.modal2.open,
.modal3.open {
  display: block;
}

.card {
  width: 20%;

  position: relative;
  perspective: 1000px;
}

.card-inner {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  border-radius: 10px;

  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.card-front {
  background: url(../img/card1.jpg) center center no-repeat;
  background-size: cover;
  background-color: #6b3a3a;
}
.card-front.open {
  animation: flipAnimation 2.3s ease-in-out forwards;
}
.card-back {
  border: solid 10px white;
  border-radius: 10px;
  background-color: #1b1919;
  transform: rotateY(180deg);
  z-index: 100;
}

.closeBtn {
  border: none;
  background: transparent;
  position: absolute;
  right: 5%;
  top: 4%;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.closeBtn i {
  font-size: 70px;
  color: white;
}
.backBtn {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 100px;
  height: 100px;
}

.modal-front {
  background-size: cover;
  background-color: #1b1919;
  transform: rotateY(0deg);
  height: 100%;
}
.modal-profile {
  color: white;
  position: relative;

  box-sizing: inherit;

  height: 100%;
  font-size: 3rem;
  background: #17b5fb
}
.modal-profile span {
  font-size: 2rem;
  padding: 0;
}
.profileWrap {
  display: flex;
  background: #070f3d8a;
  height: 100%;
  padding: 3%;
  overflow: hidden;
}

.profile {
  font-weight: bold;
  text-align: center;
  flex: 0.4;
  height: 80%;
  border-radius: 20px;
  border: solid 10px rgb(252, 252, 252);
  background: #ffffff;
  padding: 1%;
}
.profileBg { background: #578af8; height: 100%; border-radius: 20px;}
.profile h3 {
  background: #ffffff9a;
  color :black;
  margin: 2% 0;
}
.profile img {
  display: inline-block;
  margin-top: 5%;
  width: 40%;
  border-radius: 50%;
  object-fit: contain;
  background: #fff;
  border: solid 5px rgb(141, 200, 240);
  
}

.profileTxt {
  margin :auto;
  width: 90%;
  display: flex;
  margin-top: 5%;
  padding: 5% 0;
  background: #ffffffb9;
  
  height: 35%;
  border-radius: 50px 50px 0 0;
  border: 8px white solid;
}
.profileBase span {
  width: 75%;color: black;
}
.profileAnswer {
  text-align: left;
  font-weight: normal;
  width: 120%;
}
.profileAnswer span {color: black;}
.skills {
  position: relative;
  box-sizing: border-box;
  margin-top: 1%;
  height: 80%;
  flex: 1;
  
  
}
.skills h1 { margin: 2% 0; background: #f13800;
padding:  0 5%; width: 100%; z-index: -1;}
.skill {
  width: 100%;
  display: flex;
justify-content: center;
  height: 50%;
  align-items: start;
  
 
  color: black;
}

.skill div {
  flex: 1;
  border-radius: 10px;
  margin:0 auto;
  text-align: center;
  height: 60%;
}
.skill div div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 140%;
  border-radius: 50%;

  background: white;
  border: solid 20px rgb(253, 153, 3);
}
.skill img {
  width: 70%;
  object-fit: cover;
}
.skill span {
  display: none;
}
.modal-project {
  position: relative;
  margin: auto;
  height: 99%;
  width: 100%;
  background-color: rgb(4, 15, 34);
  color: white;
}
.skillSub {
  padding-bottom: 10%;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 30%;
  margin-bottom: 10%;
}
.skillSub div {
  margin: 0 auto;
  flex: 1;
}
.skillSub div div {
  border: solid rgb(212, 197, 197) 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: white;
  border-radius: 50%;
  width: 70%;
  flex: 1;
  text-align: center;
}
.skillSub img {
  width: 80%;
}
.modal-project h1 {
  margin: 0;
  padding: 3%;
  text-align: center;
}
.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-front.flip {
  transform: rotateY(180deg);
}
/*
.project-wrap {
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
padding-top:10%;  
}
.projects.expand {
  
}
*/
.projects {
  margin: 0 5px;
  border-radius: 10px;
  height: 640px;

  background: #67656d;
  border: solid white 10px;
  width: 100%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: 1s;
  z-index: 3;
  overflow: hidden;
}
span {
  z-index: 2;
  width: 100%;
  padding: 5% 5% 5% 0;
  display: inline-block;
  font-size: 1rem;
  font-family: "NanumSquare";
  color: white;
}
.project-wrap {
  display: flex;
  flex-direction: low;
  align-items: center;
  z-index: 1;
  font-family: "MaruBuri-Regular";
}

.projects .content {
  height: 90%;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInContent 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects a {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.projects img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.projectImg {
  width: 70%;
  height: 80%;
  object-fit: cover;
  position: relative;
}

@keyframes anim {
  0% {
    z-index: 11;
    transform: skewX(5deg) translateX(-100%) scale(0.95);
  }
  40% {
    transform: skewX(5deg) translateX(0) scale(0.95);
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  60% {
    transform: skewX(0deg) translateX(0) scale(0.95);
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }

  100% {
  }
}
@keyframes animClose {
  0% {
  }
  40% {
    transform: skewX(5deg) translateX(0) scale(0.95);
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  60% {
    transform: skewX(5deg) translateX(0) scale(0.95);
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }

  100% {
    transform: skewX(5deg) translateX(100%) scale(0.95);
    display: none;
  }
}
@keyframes modalAnimation {
  0% {
    transform: scaleY(0.3);
    left: -25%;
    top: -5%;
  }
  50% {
    transform: scaleY(0.6);
    left: -20%;
    top: -5%;
  }
  100% {
  }
}
@keyframes width {
  0% {
    transform: translateX(-500%)
  }
  50% {
    
  }
  60% {
   
  }
  100% {
    transform: translateX(0)
  }
}
@keyframes projects {
  0% {
  }
  100% {
    display: flex;
    justify-content: space-between;
  }
}
@keyframes flipAnimation {
  65% {
    backface-visibility: visible;

    left: 0;
    top: 0;
  }

  100% {
    backface-visibility: visible;
    left: -11%;
    top: -6%;
  }
}
@keyframes width2 {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}
@keyframes position {
  0% {
    position: absolute;
  }
  100% {
    position: relative;
  }
}
/*.modal2 {width: 100% ; height: 100%; position: absolute; left: 0; top: 0;  z-index: 100;} */
@keyframes unfoldIn {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }
  50% {
    /* 0.5 초간 세로 크기는 작은상태로 가로 너비만 확대  */
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    /* 0.5 초간 세로 크기를 확대 */
    transform: scaleY(1) scaleX(1);
  }
}
.modal2.out {
  transform: scale(1);
  animation: unfoldOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes unfoldOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    transform: scaleX(0) scaleY(0.005);
  }
}

/*    ---------------------------가져온 애니메이션 */
@import url("https://fonts.googleapis.com/css?family=Lobster+Two");

.container h1 {
  font-size: 5rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  color: #fcfbfb;
}

.container {
  width: 50%;
  position: absolute;
  z-index: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.pulse {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.pulse circle {
  fill: #51ffd4;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 2s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}

.pulse circle:nth-child(2) {
  fill: #0059ff;
  animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}

.pulse circle:nth-child(3) {
  fill: #e100ff;
  animation: pulse 2s 1.5s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
  }
}

/*- ProjectModal*/
.projectModal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 101%;
  background-size: cover;
}
.projectModal.open {
  display: block;
  z-index: 4;
  animation: flip-out-hor-top 0.5s reverse;
}

.projectModal.open.out {
  animation: flip-out-hor-top2 0.5s forwards;
}
.projectReview {
  display: flex;
  margin: auto;
  padding: 5% 2%;
  height: 100%;
  background: #1e1f1ca8 no-repeat;
  color: black;
  font-size: 2rem;
}
.projectReview p {
  padding-left: 5%;
  color: white;
  font-family: "NanumSquare";
}
@keyframes flip-out-hor-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes flip-out-hor-top2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1500px);
    transform: translateX(-1510px);
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
