body {
  overflow: hidden;
  background: rgba(9, 27, 54, 0.712);
  margin: 0 10%;
}
.pf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100%;
  background: black;
  color:white
  ;font-size: 50px;
}
.pf.open {
  animation-name: fadeIn2;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}
@keyframes fadeIn2 {
 0%{
  transform: scale(1);
  opacity: 1;
 }
 99%{
transform: scale(4);
opacity: 0;

 }
 100%{
 transform: scale(0);
 }
}
button {
  cursor: pointer;
}
.card-container {
  margin: 5vh 0;
  padding: 15vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal,
.modal2,
.modal3 {
  display: none;
  position: absolute;
  z-index: 1100;
  background: wheat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modal.open {
  display: block;

  animation: anim 1s ease-in-out forwards;
}
.modal.out{
  animation: animClose 0.5s ease-out forwards;
}
.modal2.open {
  animation: unfoldIn 1s ease-in-out forwards;

 }
.modal.open,
.modal2.open,
.modal3.open {
  display: block;
}
.modal-profile {
  width: 60%;
  height: 100%;
  margin: auto;
  background: #fff;
}
.card {
  width: 20%;

  position: relative;
  perspective: 1000px;
}

.card-inner {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  border-radius: 10px;

  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.card-front {
  background: url(../img/card1.jpg) center center no-repeat;
  background-size: cover;
  background-color: #6b3a3a;
}
.card-front.open {
  animation: flipAnimation 2.3s ease-in-out forwards;

}
.card-back {
  border: solid 10px white;
  border-radius: 10px;
  background-color: #1b1919;
  transform: rotateY(180deg);
  z-index: 100;
}

.closeBtn {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 100px;
  height: 100px;
}

.modal-front {
  background-size: cover;
  background-color: #1b1919;
  transform: rotateY(0deg);
  height: 100%;
}
.modal-profile {
  position: relative;

  box-sizing: inherit;
  margin: auto;
  height: 98%;
  animation: width 0.1s linear forwards;
  background: #dee9c0;
}
.modal-project {
  position: relative;
  margin: auto;
  height: 99%;
  width: 100%;
  background-color: antiquewhite;
}
.modal-project h1 {
  margin: 0;
  padding: 5%;
  text-align: center;
}
.card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-front.flip {
  transform: rotateY(180deg);
}
/*
.project-wrap {
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
padding-top:10%;  
}
.projects.expand {
  
}
*/
.projects {
  margin: 0 5px;
  border-radius: 10px;
  height: 640px;

  background: #ad9d9d;
  border: solid white 10px;
  width: 100%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: 1s;
}

.project-wrap {
  display: flex;
  flex-direction: low;
  align-items: center;
}

.projects .content {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInContent 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects a {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes anim {
  0% {
    z-index: 11;
    transform: skewX(5deg) translateX(-100%) scale(0.95);
  }
  40% {
    
    transform: skewX(5deg) translateX(0) scale(0.95);;
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  60% {
    transform: skewX(0deg) translateX(0) scale(0.95);;
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }

  100% {
  }
}
@keyframes animClose {
  0% {
    
  }
  40% {
    
    transform: skewX(5deg) translateX(0) scale(0.95);;
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  60% {
    transform: skewX(5deg) translateX(0) scale(0.95);;
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }

  100% {
    transform: skewX(5deg) translateX(100%) scale(0.95);
    display: none;
  }
}
@keyframes modalAnimation {
  0% {
    transform: scaleY(0.3);
    left: -25%;
    top: -5%;
  }
  50% {
    transform: scaleY(0.6);
    left: -20%;
    top: -5%;
  }
  100% {
  }
}
@keyframes width {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 70%;
    border-radius: 10px;
    border: solid 10px white;
  }
}
@keyframes projects {
  0% {
  }
  100% {
    display: flex;
    justify-content: space-between;
  }
}
@keyframes flipAnimation {
  65% {
    backface-visibility: visible;

    left: 0;
    top: 0;
  }

  100% {
    backface-visibility: visible;
    left: -11%;
    top: -6%;
  }
}
@keyframes width2 {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}
@keyframes position {
  0% {
    position: absolute;
  }
  100% {
    position: relative;
  }
}
/*.modal2 {width: 100% ; height: 100%; position: absolute; left: 0; top: 0;  z-index: 100;} */
@keyframes unfoldIn {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }
  50% {
    /* 0.5 초간 세로 크기는 작은상태로 가로 너비만 확대  */
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    /* 0.5 초간 세로 크기를 확대 */
    transform: scaleY(1) scaleX(1);
  }
}
.modal2.out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes unfoldOut {
	0% {
		transform: scale(1)
	}
	50% {
		transform: scaleX(1) scaleY(0.005);
	}
	100% {
		transform: scaleX(0) scaleY(0.005);
	}
}

/*    ---------------------------가져온 애니메이션 */
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.container h1 {
	
	font-size: 5rem;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	color: #fcfbfb;
}

.container {
  width: 50%;
	position: relative;
	z-index: 0;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
}

.pulse {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.pulse circle {
	fill: #51ffd4;
	transform: scale(0);
	opacity: 0;
	transform-origin: 50% 50%;
	animation: pulse 2s cubic-bezier(.5,.5,0,1) infinite;
}

.pulse circle:nth-child(2) {
	fill: #0059ff;
	animation: pulse 2s 0.75s cubic-bezier(.5,.5,0,1) infinite;
}

.pulse circle:nth-child(3) {
	fill: #e100ff;
	animation: pulse 2s 1.5s cubic-bezier(.5,.5,0,1) infinite;
}

@keyframes pulse {
	25% {
		opacity: 0.4;
	}
	
	100% {
		transform: scale(1);
	}
}

/*- ProjectModal*/
.projectModal {
  display: none;
  position: absolute;
  left: 0;
  top:0;
  width: 100vw;
  height: 100%;
  
}
.projectModal.open {
  display: block;
  z-index: 100;
}